.bread
    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                i.fas.fa-home
                a(href='homepage.html') Home
            li.breadcrumb-item.active(aria-current='page') mail us



.row.sideform
    
    .col-lg-2.sidebar-list.col-md-3.aa1
        ul.list-unstyled
            li.fi 
                a(href="bestdeals.html") branded food
            li.fi 
                a(href="house.html") households
          
            li.dropdown.fi
                    | vegiies,fruits
                    button.dropdown-toggle.dropdown-toggle.btn.btn-secondary#dropdownMenuButton( data-bs-toggle="dropdown" aria-expanded="false" type="button")
                    ul.list-unstyled.dropdown-menu(aria-labelledby="dropdownMenuButton")
                        li.ui
                            a.ch.dropdown-item(href="veg.html") VEGETABLES
                        li.ui
                            a.ch.dropdown-item(href="veg.html") fruits
            li.fi
                a(href="kitchen.html") kitchen
            li.fi
                a(href="short.html") short codes
            li.dropdown.fi
                    | beverages
                    button.dropdown-toggle.dropdown-toggle.btn.btn-secondary#dropdownMenuButton( data-bs-toggle="dropdown" aria-expanded="false" type="button")
                    ul.list-unstyled.dropdown-menu(aria-labelledby="dropdownMenuButton")
                        li.ui
                            a.ch.dropdown-item(href="soft.html") soft drinks
                        li.ui
                            a.ch.dropdown-item(href="soft.html") juice
            li.fi
                a(href="pet.html")  pet food
                li.dropdown.fi
                    | frozen foods
                    button.dropdown-toggle.dropdown-toggle.btn.btn-secondary#dropdownMenuButton( data-bs-toggle="dropdown" aria-expanded="false" type="button")
                    ul.list-unstyled.dropdown-menu(aria-labelledby="dropdownMenuButton")
                        li.ui
                            a.ch.dropdown-item(href="frozen.html") frozen snakes
                        li.ui
                            a.ch.dropdown-item(href="frozen.html") frozen nonveg
            li.fi 
                a(href="bread.html") bread&bakery
    .col-lg-2.col-md-1

    .col-lg-8.side-list.aa.col-sm-12.col-md-8
            .h1header.text-center
            
                h1 about us
            .container    
                .divabout Atvero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas<br> molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fug.<br> Et harum quidem rerum facilis est et expedita distinctio.
                .divflex
                    img.img-responsiv(src="imgs/31.jpg" )
                    ol 
                        li laborum et dolorum fuga
                        li corrupti quos dolores et quas
                        li est et expedita distinctio
                        li deleniti atque corrupti quos
                        li excepturi sint occaecati cupiditate
                        li accusamus et iusto odio
.team
    .container
        h1.text-center meet our amazing team
        .row
            .col-lg-3.col-md-6.col-sm-6.col-12
                .eng
                    img(src="imgs/32.jpg")
                    p MARTIN PAUL<br>
                        span manger
                    ul.list-unstyled
                        li 
                            i.fab.fa-facebook
                        li
                            i.fab.fa-twitter
                        li
                            i.fab.fa-google    
            .col-lg-3.col-md-6.col-sm-6.col-12
                .eng
                    img(src="imgs/33.jpg")
                    p MICHAEL RICK<br>
                        span Supervisor
                    ul.list-unstyled
                        li 
                            i.fab.fa-facebook
                        li
                            i.fab.fa-twitter
                        li
                            i.fab.fa-google  
            .col-lg-3.col-md-6.col-sm-6.col-12
                .eng
                    img(src="imgs/34.jpg") 
                    p THOMAS CARL<br>
                        span Supervisor
                    ul.list-unstyled
                        li 
                            i.fab.fa-facebook
                        li
                            i.fab.fa-twitter
                        li
                            i.fab.fa-google 
                     
            .col-lg-3.col-md-6.col-sm-6.col-12
                .eng
                    img(src="imgs/35.jpg")  
                    p LAURA LEE<br>
                        span CEO
                    ul.list-unstyled
                        li 
                            i.fab.fa-facebook
                        li
                            i.fab.fa-twitter
                        li
                            i.fab.fa-google  
.test
    h1.text-center Testimonials
    .container
        
        #carouselExampleIndicators1.carousel.slide(data-bs-ride="carousel").caro 
            ol.carousel-indicators
                li.active(data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0")
                li(data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1")
                li(data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2")
            .carousel-inner
                .carousel-item.active
                    .carflex
                        .cardiv1
                            i.fa.fa-quote-right
                            p Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus  maiores alias consequatur aut perferendis doloribus asperiores repellat.
                            h4.left  ANDREW SMITH 
                                span  CUSTOMER 
                        .cardiv2    
                            i.fa.fa-quote-right
                            p Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus  maiores alias consequaturaut perferendis doloribus  asperiores repellat.
                            h4.left THOMSON RICHARD  
                                span  CUSTOMER
                .carousel-item
                    .carflex
                        .cardiv1
                            i.fa.fa-quote-right
                            p Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus   maiores alias consequatur aut perferendis doloribus asperiores repellat.
                            h4.left  CRISP KALE 
                                span CUSTOMER 
                        .cardiv2    
                            i.fa.fa-quote-right
                            p Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus  maiores alias consequatur aut perferendis doloribus  asperiores repellat.
                            h4.left  jhone paul 
                                span  CUSTOMER
                    
                
                .carousel-item
                    .carflex
                        .cardiv1
                            i.fa.fa-quote-right
                            p Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus  maiores alias consequatur  aut perferendis doloribus  asperiores repellat.
                            h4.left  ROSY CARL 
                                span CUSTOMER 
                        .cardiv2    
                            i.fa.fa-quote-right
                            p Itaque earum rerum hic tenetur a sapiente delectus, ut  aut reiciendis voluptatibus<br> maiores alias consequatur aut perferendis doloribus<br> asperiores repellat.
                            h4.left  ROCKSON DOE 
                                span CUSTOMER
                 
            a.carousel-control-prev(href="#carouselExampleIndicators1" role="button" data-bs-slide="prev")
                span.carousel-control-prev-icon(aria-hidden="true")
                span.visually-hidden Previous
            a.carousel-control-next(href="#carouselExampleIndicators1" role="button" data-bs-slide="next")
                span.carousel-control-next-icon(aria-hidden="true")
                span.visually-hidden Next
                