.bread
    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                i.fas.fa-home
                a(href='homepage.html') Home
            li.breadcrumb-item.active(aria-current='page') mail us



.row.sideform
    
    .col-lg-2.sidebar-list.col-md-2
        ul.list-unstyled
            li.fi 
                a(href="bestdeals.html") branded food
            li.fi 
                a(href="house.html") households
          
            li.dropdown.fi
                    | vegiies,fruits
                    button.dropdown-toggle.dropdown-toggle.btn.btn-secondary#dropdownMenuButton( data-bs-toggle="dropdown" aria-expanded="false" type="button")
                    ul.list-unstyled.dropdown-menu(aria-labelledby="dropdownMenuButton")
                        li.ui
                            a.ch.dropdown-item(href="veg.html") VEGETABLES
                        li.ui
                            a.ch.dropdown-item(href="veg.html") fruits
            li.fi
                a(href="kitchen.html") kitchen
            li.fi
                a(href="short.html") short codes
            li.dropdown.fi
                    | beverages
                    button.dropdown-toggle.dropdown-toggle.btn.btn-secondary#dropdownMenuButton( data-bs-toggle="dropdown" aria-expanded="false" type="button")
                    ul.list-unstyled.dropdown-menu(aria-labelledby="dropdownMenuButton")
                        li.ui
                            a.ch.dropdown-item(href="soft.html") soft drinks
                        li.ui
                            a.ch.dropdown-item(href="soft.html") juice
            li.fi
                a(href="pet.html")  pet food
                li.dropdown.fi
                    | frozen foods
                    button.dropdown-toggle.dropdown-toggle.btn.btn-secondary#dropdownMenuButton( data-bs-toggle="dropdown" aria-expanded="false" type="button")
                    ul.list-unstyled.dropdown-menu(aria-labelledby="dropdownMenuButton")
                        li.ui
                            a.ch.dropdown-item(href="frozen.html") frozen snakes
                        li.ui
                            a.ch.dropdown-item(href="frozen.html") frozen nonveg
            li.fi 
                a(href="bread.html") bread&bakery
    .col-lg-10.bestall.col-md-10
        .bestimg
            img.img-fluid(src="imgs/26.jpg")
            .divbest
                h3 Best Deals For New Products
         
        .fatheroff
            h2.text-center Household Products
            h3 CLEANING
            .hot-offers.divd.row
                
                .col-lg-3.col-md-6.col-sm-6.col-12
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/37.png")
                        p.can1 
                            spanFresh Dishwash Gel, Lemon (1.5 Ltr)<br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12

                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/38.png")
                        p.can1 
                            span Dish Wash Bar (500 Gm) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12 
                    .offer.ss
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/39.png")
                        p.can1 
                            spanFresh Air Freshener (50 Gm) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12 
                    .offer.ss
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/40.png")
                        p.can1 
                            span Toilet Cleaner Expert (1 Ltr) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
        .fatheroff
            
            h3  UTENSILS
            .hot-offers.divd.row
                
                .col-lg-3.col-md-6.col-sm-6.col-12 
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/41.png")
                        p.can1 
                            span Princeware Packaging Container Pack (6 No's) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12 
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/42.png")
                        p.can1 
                            span Signoraware Container Center Press (900 Ml) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12 
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/43.png")
                        p.can1 
                            span Ship Stainless Steel Sauce Pan Single (1 Pc) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12 
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/44.png")
                        p.can1 
                            span Omega Stainless Steel Puri Dabba (1 Pc) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart 
        .fatheroff
            
            h3 PET FOOD
            .hot-offers.divd.row
                
                .col-lg-3.col-md-6.col-sm-6.col-12 
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/45.png")
                        p.can1 
                            span Food For Adult Dogs (80 Gms) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12

                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/46.png")
                        p.can1 
                            span Young Adult Dogs (1.2 Kg) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/47.png")
                        p.can1 
                            span Cat Food Ocean Fish (1.4 Kg)<br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12 
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/48.png")
                        p.can1 
                            span Chicken In Jelly Can (400 Gm) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        input.can2(type="submit" value="add to cart")