.bread
    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                i.fas.fa-home
                a(href='homepage.html') Home
            li.breadcrumb-item.active(aria-current='page') mail us



.row.sideform
    
    .col-lg-2.sidebar-list.col-md-2
        ul.list-unstyled
            li.fi 
                a(href="bestdeals.html") branded food
            li.fi 
                a(href="house.html") households
        
            li.dropdown.fi
                    | vegiies,fruits
                    button.dropdown-toggle.dropdown-toggle.btn.btn-secondary#dropdownMenuButton( data-bs-toggle="dropdown" aria-expanded="false" type="button")
                    ul.list-unstyled.dropdown-menu(aria-labelledby="dropdownMenuButton")
                        li.ui
                            a.ch.dropdown-item(href="veg.html") VEGETABLES
                        li.ui
                            a.ch.dropdown-item(href="veg.html") fruits
            li.fi
                a(href="kitchen.html") kitchen
            li.fi
                a(href="short.html") short codes
            li.dropdown.fi
                    | beverages
                    button.dropdown-toggle.dropdown-toggle.btn.btn-secondary#dropdownMenuButton( data-bs-toggle="dropdown" aria-expanded="false" type="button")
                    ul.list-unstyled.dropdown-menu(aria-labelledby="dropdownMenuButton")
                        li.ui
                            a.ch.dropdown-item(href="soft.html") soft drinks
                        li.ui
                            a.ch.dropdown-item(href="soft.html") juice
            li.fi
                a(href="pet.html")  pet food
                li.dropdown.fi
                    | frozen foods
                    button.dropdown-toggle.dropdown-toggle.btn.btn-secondary#dropdownMenuButton( data-bs-toggle="dropdown" aria-expanded="false" type="button")
                    ul.list-unstyled.dropdown-menu(aria-labelledby="dropdownMenuButton")
                        li.ui
                            a.ch.dropdown-item(href="frozen.html") frozen snakes
                        li.ui
                            a.ch.dropdown-item(href="frozen.html") frozen nonveg
            li.fi 
                a(href="bread.html") bread&bakery
    .col-lg-10.bestall.col-md-10.check
        .container
            h4.text-center Checkout
            p YOUR SHOPPING CART CONTAINS: 
                span.hhh PRODUCTS
            table.table.table-bordered.montg
                    thead
                        tr.esod
                            th sl no.
                            th product
                            th quality
                            th product name
                            th price
                            th remove
                    tbody.kk
            .container.ch2
                .row
                    .col-lg-4.first
                            button.conba continue to basket
                            ul.list-unstyled
                                li
                                    p product1 
                                        span $15.00
                                    
                                li
                                    p product2 
                                        span $25.00
                                li
                                    p product3 
                                        span $45.00
                                li
                                    p product4 
                                        span $55.00
                                li
                                    h4 total-
                                        span $84.00
                    .col-lg-8.second
                        h4  ADD A NEW DETAILS
                        form
                            label Full name:
                            input(type="text" placeholder="full name")
                            label Mobile number:
                            input(type="text" placeholder="mobile number")
                            label Landmark:
                            input(type="text" placeholder="landmark")
                            label Address type:
                            input(type="text" placeholder="address type")
                            a.le(href="payment.html") deliver to this address 
                               
                                
                            a.ri(href="payment.html") make a payment >

                            

                        
                         

                    