.bread
    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                i.fas.fa-home
                a(href='homepage.html') Home
            li.breadcrumb-item.active(aria-current='page') mail us


 
.row.sideform
    
    .col-lg-2.sidebar-list.col-md-3
        ul.list-unstyled
            li branded food
            li households
            li vegiies,fruits
            li kitchen
            li short codes
            li beverages
            li pet food
            li frozen foods
            li bread&bakery
    .col-lg-1.col-md-1
    .col-lg-3.side-list.col-md-8
        .h1header.text-center
            .container
                h1 mail us 

        
        
        .container
       
       
         
                ul.list-unstyled.uu
                    li
                        i.fas.fa-home <span >  |  </span><span> address</span>
                        p 868 1ST AVENUE NYC.
                    li
                        i.fas.fa-envelope <span> | </span> <span>email</span>
                
                        p INFO@EXAMPLE.COM
                    li
                        i.fas.fa-phone-alt <span> | </span><span> call to us</span>
                 
                        p (+123) 233 2362 826
    .col-lg-6.formside
            .container
        
                form
            
                    .text1
                        input(type="text" placeholder="name*")
                        input(type="text" placeholder="phone*")
             
                    .text2
                        input(type="email " placeholder="email*")
                        input(type="text" placeholder="subject*")
                    .text3 
                        textarea(placeholder="message...")
                    .text4 
                        input(type="submit" value="submit")
                        input(type="reset" value="clear")
.map
    iframe(src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d96748.15352429623!2d-74.25419879353115!3d40.731667701988506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sshopping+mall+in+New+York%2C+NY%2C+United+States!5e0!3m2!1sen!2sin!4v1467205237951" style="border:0")
    

                   
    