.bread
    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                i.fas.fa-home
                a(href='homepage.html') Home
            li.breadcrumb-item.active(aria-current='page') mail us



.row.sideform
    
    .col-lg-2.sidebar-list.col-md-3
        ul.list-unstyled
            li branded food
            li households
            li vegiies,fruits
            li kitchen
            li short codes
            li beverages
            li pet food
            li frozen foods
            li bread&bakery
    .col-lg-2.col-md-1
    .col-lg-8.side-list
        .h1header.text-center
            .container
                h1 events

        
        
        .container
    
    
            .row
                ul.list-unstyled.uu2
                    .try
                        li.stick 
                            .rmz
                                i.fas.fa-bullhorn  
                            .parg    
                                p.p4 CUM SOLUTA NOBIS ELIGENDI<br>
                                    span Itaque earum rerum hic tenetur a sapiente<br> delectus, ut aut reiciendis voluptatibus.
                        li.stick
                            .rmz
                                i.fa.fa-bullseye 
                            .parg    
                                p.p4 CUM SOLUTA NOBIS ELIGENDI<br>
                                    span  Itaque earum rerum hic tenetur a sapiente<br> delectus, ut aut reiciendis voluptatibus.
                
                   
                    .try
                        li.stick 
                            .rmz
                                i.fa.fa-credit-card 
                        
                            .parg    
                                p.p4 CUM SOLUTA NOBIS ELIGENDI<br>
                                    span Itaque earum rerum hic tenetur a sapiente<br> delectus, ut aut reiciendis voluptatibus.

                
                        
                
                        li.stick 
                            .rmz
                                i.fa.fa-eye  
                        
                            .parg    
                                p.p4 CUM SOLUTA NOBIS ELIGENDI<br>
                                    span Itaque earum rerum hic tenetur a sapiente<br> delectus, ut aut reiciendis voluptatibus.
                
                
                    .try
                        li.stick 
                            .rmz
                                i.fa.fa-cog  
                
                            .parg    
                                p.p4 CUM SOLUTA NOBIS ELIGENDI<br>
                                    span Itaque earum rerum hic tenetur a sapiente<br> delectus, ut aut reiciendis voluptatibus.  
                 
                        li.stick 
                            .rmz
                                i.fa.fa-trophy 
                
                        
                            .parg    
                                p.p4 CUM SOLUTA NOBIS ELIGENDI<br>
                                    span Itaque earum rerum hic tenetur a sapiente<br> delectus, ut aut reiciendis voluptatibus. 
                    
                    .try         

                        li
                            .per 
                                .divp 
                                    p 20
                                    .divdate  
                                        p july,2016
                                .divimg        
                                    img(src="imgs/15.jpg" width="300px" height="190px")
                                    .divpp  UT AUT REICIENDIS FACERE POSSIMUS
                                    .clock
                                        i.fas.fa-clock 
                                        span 3:00 PM 
                                        i.fas.fa-user 
                                        span Admin
                                    .divlast Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.    
                        li
                            .per 
                                .divp 
                                    p 21
                                    .divdate  
                                        p july,2016
                                .divimg        
                                    img(src="imgs/15.jpg" width="300px" height="190px")
                                    .divpp MAXIME PLACEAT FACERE POSSIMUS
                                    .clock
                                        i.fas.fa-clock 
                                        span 3:30 PM 
                                        i.fas.fa-user 
                                        span Admin
                                    .divlast Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.    
                                                
                                    

  

        
            