.bread
    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                i.fas.fa-home
                a(href='homepage.html') Home
            li.breadcrumb-item.active(aria-current='page') mail us



.row.sideform
    
    .col-lg-2.sidebar-list.col-md-2
        ul.list-unstyled
            li.fi 
                a(href="bestdeals.html") branded food
            li.fi 
                a(href="house.html") households
        
            li.dropdown.fi
                    | vegiies,fruits
                    button.dropdown-toggle.dropdown-toggle.btn.btn-secondary#dropdownMenuButton( data-bs-toggle="dropdown" aria-expanded="false" type="button")
                    ul.list-unstyled.dropdown-menu(aria-labelledby="dropdownMenuButton")
                        li.ui
                            a.ch.dropdown-item(href="veg.html") VEGETABLES
                        li.ui
                            a.ch.dropdown-item(href="veg.html") fruits
            li.fi
                a(href="kitchen.html") kitchen
            li.fi
                a(href="short.html") short codes
            li.dropdown.fi
                    | beverages
                    button.dropdown-toggle.dropdown-toggle.btn.btn-secondary#dropdownMenuButton( data-bs-toggle="dropdown" aria-expanded="false" type="button")
                    ul.list-unstyled.dropdown-menu(aria-labelledby="dropdownMenuButton")
                        li.ui
                            a.ch.dropdown-item(href="soft.html") soft drinks
                        li.ui
                            a.ch.dropdown-item(href="soft.html") juice
            li.fi
                a(href="pet.html")  pet food
                li.dropdown.fi
                    | frozen foods
                    button.dropdown-toggle.dropdown-toggle.btn.btn-secondary#dropdownMenuButton( data-bs-toggle="dropdown" aria-expanded="false" type="button")
                    ul.list-unstyled.dropdown-menu(aria-labelledby="dropdownMenuButton")
                        li.ui
                            a.ch.dropdown-item(href="frozen.html") frozen snakes
                        li.ui
                            a.ch.dropdown-item(href="frozen.html") frozen nonveg
            li.fi 
                a(href="bread.html") bread&bakery
    .col-lg-10.bestall.col-md-10.faq
        .container
            h2.text-center FAQS
            .faq1
                .i.fas.fa-plus.ime
                span Assumenda Est Cliche Reprehenderit
                .fa
                    p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
            .faq1
                .i.fas.fa-plus.ime
                span Itaque Earum Rerum
                .fa
                    p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
            .faq1
                .i.fas.fa-plus.ime
                span Autem Accusamus Terry Quibusdam
                .fa
                    p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
            .faq1
                .i.fas.fa-plus.ime
                span Excepturi Sint Cliche Reprehenderit
                .fa
                    p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
            .faq1
                .i.fas.fa-plus.ime
                span Dolorem Eum Fugiat Quo Voluptas Nulla Pariatur
                .fa
                    p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
            .faq1
                .i.fas.fa-plus.ime
                span Terry Eiusmod High Life Accusamus
                .fa
                    p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
            .faq1
                .i.fas.fa-plus.ime
                span Quasi Architecto Beatae Vitae Dicta
                .fa
                    p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
            .faq1
                .i.fas.fa-plus.ime
                span ure Reprehenderit Qui In Ea Voluptate Velit Esse
                .fa
                    p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
            .faq1
                .i.fas.fa-plus.ime
                span ure Reprehenderit Qui In Ea Voluptate Velit Esse
                .fa
                    p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.

