.footer
    .container
        .row
            .col-lg-3.col-md-6.col-6
                .box
                    h4 information
                    ul.list-unstyled
                        li
                            i.fas.fa-chevron-right
                            | Events
                        li 
                            i.fas.fa-chevron-right
                            | About Us
                        li 
                            i.fas.fa-chevron-right  
                            |Best Deals
                        li
                            i.fas.fa-chevron-right  
                            |Services
                        li 
                            i.fas.fa-chevron-right 
                            |Short Codes
            .col-lg-3.col-md-6.col-6
                .box
                    h4 policy info
                    ul.list-unstyled
                        li
                            i.fas.fa-chevron-right 
                            |FAQ
                        li   
                            i.fas.fa-chevron-right 
                            |Privacy Policy
                        li
                            i.fas.fa-chevron-right 
                            |Terms Of Use
            .col-lg-3.col-md-6.col-6
                .box
                    h4 what in stories
                    ul.list-unstyled
                        li
                            i.fas.fa-chevron-right
                            |Pet Food
                        li 
                            i.fas.fa-chevron-right
                            |Frozen Snacks
                        li 
                            i.fas.fa-chevron-right
                            |Kitchen
                        li 
                            i.fas.fa-chevron-right
                            |Branded Foods
                        li 
                            i.fas.fa-chevron-right
                            |Households
            .col-lg-3.col-md-6.col-6
                .box
                        h4 twitter posts
                        .div1
                            p.tw
                                i.fab.fa-twitter
                                | 01 day ago
                            p.twit Non numquam 
                                span http://sd.ds/13jklf#
                                | eius modi tempora incidunt ut labore et
                                span  http://sd.ds/1389kjklf# 
                                |quo nulla.
                        .div2
                            p.tw
                                i.fab.fa-twitter
                                | 02 day ago
                            p.twit Con numquam 
                                span http://fd.uf/56hfg#
                                |eius modi tempora incidunt ut labore et 
                                span   http://fd.uf/56hfg#
                                | quo nulla.
        .payment
            .connect1
                h6 100% Secure Payments
                img(src="imgs/card.png" width="195" height="31")
            .connect
                h6 connect with Us
                ul.social.list-unstyled
                    li
                        i.fab.fa-facebook-f
                    
                    li
                        i.fab.fa-twitter
                    li
                        i.fab.fa-google-plus-g
                    li
                        i.fab.fa-instagram
                    li
                        i.fab.fa-dribbble
        .copyright
            p.text-center © 2016 Grocery Store. All rights reserved | Design by 
                span W3layouts
