.footer
    .container
        .row
            .col-lg-3.col-md-6.col-6
                .box
                    h4 information
                    ul.list-unstyled
                        li
                            i.fas.fa-chevron-right
                            a(href="events.html")  Events
                        li 
                            i.fas.fa-chevron-right
                            a(href="about.html") About Us
                        li 
                            i.fas.fa-chevron-right  
                            a(href="bestdeals.html") Best Deals
                        li
                            i.fas.fa-chevron-right  
                            a(href="services.html") Services
                        li 
                            i.fas.fa-chevron-right 
                            a(href="short.html") Short Codes
            .col-lg-3.col-md-6.col-6
                .box
                    h4 policy info
                    ul.list-unstyled
                        li
                            i.fas.fa-chevron-right 
                            a(href="faq.html") FAQ
                        li   
                            i.fas.fa-chevron-right 
                            a(href="privacy.html") Privacy Policy
                        li
                            i.fas.fa-chevron-right 
                            |Terms Of Use
            .col-lg-3.col-md-6.col-6
                .box
                    h4 what in stories
                    ul.list-unstyled
                        li
                            i.fas.fa-chevron-right
                            a(href="pet.html") Pet Food
                        li 
                            i.fas.fa-chevron-right
                            a(href="frozen.html") Frozen Snacks
                        li 
                            i.fas.fa-chevron-right
                            a(href="kitchen.html") Kitchen
                        li 
                            i.fas.fa-chevron-right
                                a(href="bestdeals.html") Branded Foods
                        li 
                            i.fas.fa-chevron-right
                            a(href="house.html") Households
            .col-lg-3.col-md-6.col-6
                .box
                        h4 twitter posts
                        .div1
                            p.tw
                                i.fab.fa-twitter
                                | 01 day ago
                            p.twit Non numquam 
                                span http://sd.ds/13jklf#
                                | eius modi tempora incidunt ut labore et
                                span  http://sd.ds/1389kjklf# 
                                |quo nulla.
                        .div2
                            p.tw
                                i.fab.fa-twitter
                                | 02 day ago
                            p.twit Con numquam 
                                span http://fd.uf/56hfg#
                                |eius modi tempora incidunt ut labore et 
                                span   http://fd.uf/56hfg#
                                | quo nulla.
        .payment
            .connect1
                h6 100% Secure Payments
                img(src="imgs/card.png" width="195" height="31")
            .connect
                h6 connect with Us
                ul.social.list-unstyled
                    li
                        i.fab.fa-facebook-f
                    
                    li
                        i.fab.fa-twitter
                    li
                        i.fab.fa-google-plus-g
                    li
                        i.fab.fa-instagram
                    li
                        i.fab.fa-dribbble
        .copyright
            p.text-center © 2016 Grocery Store. All rights reserved | Design by 
                span W3layouts
