.bread
    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                i.fas.fa-home
                a(href='homepage.html') Home
            li.breadcrumb-item.active(aria-current='page') mail us



.row.sideform
    
    .col-lg-2.sidebar-list.col-md-2
        ul.list-unstyled
            li.fi 
                a(href="bestdeals.html") branded food
            li.fi 
                a(href="house.html") households
          
            li.dropdown.fi
                    | vegiies,fruits
                    button.dropdown-toggle.dropdown-toggle.btn.btn-secondary#dropdownMenuButton( data-bs-toggle="dropdown" aria-expanded="false" type="button")
                    ul.list-unstyled.dropdown-menu(aria-labelledby="dropdownMenuButton")
                        li.ui
                            a.ch.dropdown-item(href="veg.html") VEGETABLES
                        li.ui
                            a.ch.dropdown-item(href="veg.html") fruits
            li.fi
                a(href="kitchen.html") kitchen
            li.fi
                a(href="short.html") short codes
            li.dropdown.fi
                    | beverages
                    button.dropdown-toggle.dropdown-toggle.btn.btn-secondary#dropdownMenuButton( data-bs-toggle="dropdown" aria-expanded="false" type="button")
                    ul.list-unstyled.dropdown-menu(aria-labelledby="dropdownMenuButton")
                        li.ui
                            a.ch.dropdown-item(href="soft.html") soft drinks
                        li.ui
                            a.ch.dropdown-item(href="soft.html") juice
            li.fi
                a(href="pet.html")  pet food
                li.dropdown.fi
                    | frozen foods
                    button.dropdown-toggle.dropdown-toggle.btn.btn-secondary#dropdownMenuButton( data-bs-toggle="dropdown" aria-expanded="false" type="button")
                    ul.list-unstyled.dropdown-menu(aria-labelledby="dropdownMenuButton")
                        li.ui
                            a.ch.dropdown-item(href="frozen.html") frozen snakes
                        li.ui
                            a.ch.dropdown-item(href="frozen.html") frozen nonveg
            li.fi 
                a(href="bread.html") bread&bakery
    .col-lg-10.bestall.col-md-10
        .bestimg
            img.img-fluid(src="imgs/28.jpg")
            .divbest
                h3 Best Deals For New Products
        .divall
                .diva
                    img.img-fluid(src="imgs/24.jpg")
                    .divb
                        h4 Frozen Meat
                        ol
                            li Sunt In Culpa Qui Officia
                            li Commodo Consequat
                            li Sed Do Eiusmod Tempor Incididunt
                .diva
                    img.img-fluid(src="imgs/29.jpg") 
                    .divb
                        h4 Frozen Chocolate Chips
                        ol
                            li Enim Ipsam Voluptatem Officia
                            li Tempora Incidunt Ut Labore Et
                            li Vel Eum Iure Reprehenderit
                .diva
                    img.img-fluid(src="imgs/30.jpg") 
                    .divb 
                        h4 Frozen Soybean
                        ol
                            li Dolorem Eum Fugiat Voluptas
                            li Ut Aliquid Ex Ea Commodi
                            li Magnam Aliquam Quaerat
        .fatheroff
            h2.text-center Popular Brands
            h3 food
            .hot-offers.divd.row
                
                .col-lg-3.col-md-6.col-sm-6.col-12
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/64.png")
                        p.can1 
                            span Fresh Bananas (1 Kg)<br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/65.png")
                        p.can1 
                            span Fresh Cauliflower (2 No's) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12 
                    .offer.ss
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/66.png")
                        p.can1 
                            spanFresh Brinjal Bharta (1 Kg) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12 
                    .offer.ss
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/67.png")
                        p.can1 
                            span Fresh Sweet Lime (500 Gm) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
        .fatheroff
            
            h3 VEGETABLES & FRUITS
            .hot-offers.divd.row
                
                .col-lg-3.col-md-6.col-sm-6.col-12 
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/68.png")
                        p.can1 
                            spanFresh Spinach (Palak) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12 
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/69.png")
                        p.can1 
                            spanFresh Mango Dasheri (1 Kg) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12 
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/70.png")
                        p.can1 
                            span Fresh Apple Red (1 Kg) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12 
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/71.png")
                        p.can1 
                            span Fresh Broccoli (500 Gm) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart 
        .fatheroff
            
            h3 BEVERAGES
            .hot-offers.divd.row
                
                .col-lg-3.col-md-6.col-sm-6.col-12 
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/72.png")
                        p.can1 
                            span Fresh Basket Onion (1 Kg) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12

                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/73.png")
                        p.can1 
                            span Fresh Muskmelon (1 Kg) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/74.png")
                        p.can1 
                            span Fresh Mushroom (500 Ml) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12 
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/75.png")
                        p.can1 
                            span Fresh Strawberry (1 Pc) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        input.can2(type="submit" value="add to cart")
                    

                    

                    

