.header
    
     
        ul.nav
            
            
            li.navbar
                .green tody special offers
            
        
            li.navbar

                form
                    input(type="text" value="search a product" placeholder="serch a product")
                    button 
                        i.fas.fa-search
           
            li.navbar
                button.cart view your cart 
                    i.fas.fa-shopping-cart.shop
             
            li.navbar.use
                i.fas.fa-user.user
                a
                    i.fas.fa-sort-down.us
             
            li.navbar.n
            
                .info
                    a(href="contactpage.html") contact us  
            li.fas.fa-bars.fa-2x.men  
        .row.ss    
            .logo.col-lg-3
           
                a(href="")
                    img(src="imgs/Capture.PNG")  
            ul.list-unstyled.col-lg-9.newlist
                li
                    a(href="") events  /
                li
                    a(href="") About us  /
                li
                    a(href="") Best Deals  /
                li 
                    a(href="") services  /
                
                li   
                    a(href="") (+0123) 234 567
                li
                    a(href="") store@grocery.com
