.bread
    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                i.fas.fa-home
                a(href='homepage.html') Home
            li.breadcrumb-item.active(aria-current='page') mail us



.row.sideform
    
    .col-lg-2.sidebar-list.col-md-2
        ul.list-unstyled
            li branded food
            li households
            li vegiies,fruits
            li kitchen
            li short codes
            li beverages
            li pet food
            li frozen foods
            li bread&bakery
    .col-lg-10.bestall.col-md-10
        .bestimg
            img.img-fluid(src="imgs/21.jpg")
            .divbest
                h3 Best Deals For New Products
        .divall
            
                .diva
                    img.img-fluid(src="imgs/13.jpg")
                    .divb
                        h4 Utensils
                        ol
                            li Sunt In Culpa Qui Officia
                            li Commodo Consequat
                            li Sed Do Eiusmod Tempor Incididunt
                .diva
                    img.img-fluid(src="imgs/20.jpg") 
                    .divb
                        h4 Vegetables
                        ol
                            li Enim Ipsam Voluptatem Officia
                            li Tempora Incidunt Ut Labore Et
                            li Vel Eum Iure Reprehenderit
                .diva
                    img.img-fluid(src="imgs/15.jpg") 
                    .divb 
                        h4 Cookies
                        ol
                            li Dolorem Eum Fugiat Voluptas
                            li Ut Aliquid Ex Ea Commodi
                            li Magnam Aliquam Quaerat
        h3.hi POPULAR CATEGORIES                   
        .divall
                
                .diva
                    img.img-fluid(src="imgs/22.jpg")
                    .divb
                        h4 Bread & Bakery
                        ol
                            li Sunt In Culpa Qui Officia
                            li Commodo Consequat
                            li Sed Do Eiusmod Tempor Incididunt
                .diva
                    img.img-fluid(src="imgs/23.jpg") 
                    .divb
                        h4 Beverages
                        ol
                            li Enim Ipsam Voluptatem Officia
                            li Tempora Incidunt Ut Labore Et
                            li Vel Eum Iure Reprehenderit
                .diva
                    img.img-fluid(src="imgs/24.jpg") 
                    .divb 
                        h4 Frozen Foods
                        ol
                            li Dolorem Eum Fugiat Voluptas
                            li Ut Aliquid Ex Ea Commodi
                            li Magnam Aliquam Quaerat
        .fatheroff
            h2.text-center Popular Products
            
            .hot-offers.divd.row
                
                .col-lg-3.col-md-6.col-sm-6.col-12
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/1.png")
                        p.can1 
                            span Fortune Sunflower Oil<br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/3.png")
                        p.can1 
                            span Basmati Rise (5 Kg) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12 
                    .offer.ss
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/2.png")
                        p.can1 
                            spanFresh Pepsi Soft Drink (2 Ltr) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12 
                    .offer.ss
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/4.png")
                        p.can1 
                            span Dogs Food (4 Kg) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
