.bread
    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                i.fas.fa-home
                a(href='homepage.html') Home
            li.breadcrumb-item.active(aria-current='page') mail us



.row.sideform
    
    .col-lg-2.sidebar-list.col-md-2
        ul.list-unstyled
            li.fi 
                a(href="bestdeals.html") branded food
            li.fi 
                a(href="house.html") households
        
            li.dropdown.fi
                    | vegiies,fruits
                    button.dropdown-toggle.dropdown-toggle.btn.btn-secondary#dropdownMenuButton( data-bs-toggle="dropdown" aria-expanded="false" type="button")
                    ul.list-unstyled.dropdown-menu(aria-labelledby="dropdownMenuButton")
                        li.ui
                            a.ch.dropdown-item(href="veg.html") VEGETABLES
                        li.ui
                            a.ch.dropdown-item(href="veg.html") fruits
            li.fi
                a(href="kitchen.html") kitchen
            li.fi
                a(href="short.html") short codes
            li.dropdown.fi
                    | beverages
                    button.dropdown-toggle.dropdown-toggle.btn.btn-secondary#dropdownMenuButton( data-bs-toggle="dropdown" aria-expanded="false" type="button")
                    ul.list-unstyled.dropdown-menu(aria-labelledby="dropdownMenuButton")
                        li.ui
                            a.ch.dropdown-item(href="soft.html") soft drinks
                        li.ui
                            a.ch.dropdown-item(href="soft.html") juice
            li.fi
                a(href="pet.html")  pet food
                li.dropdown.fi
                    | frozen foods
                    button.dropdown-toggle.dropdown-toggle.btn.btn-secondary#dropdownMenuButton( data-bs-toggle="dropdown" aria-expanded="false" type="button")
                    ul.list-unstyled.dropdown-menu(aria-labelledby="dropdownMenuButton")
                        li.ui
                            a.ch.dropdown-item(href="frozen.html") frozen snakes
                        li.ui
                            a.ch.dropdown-item(href="frozen.html") frozen nonveg
            li.fi 
                a(href="bread.html") bread&bakery
    .col-lg-10.bestall.col-md-10.privacy
        .container
            h3 privacy policy
        
            ul.list-unstyled
                li
                    .iflex 
                        i.fas.fa-user.fa-lg
                        span profile
                            p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    ul.list-unstyled
                li
                    .iflex 
                        i.fas.fa-search.fa-lg
                        span profile
                            p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                ul.list-unstyled
                li
                    .iflex 
                        i.fas.fa-paste.fa-lg
                        span profile
                            p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    ul.list-unstyled
                li
                    .iflex 
                        i.fas.fa-qrcode.fa-lg
                        span profile
                            p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        h3 TERMS OF USE
        .klam
            h4 Deserunt Mollit Anim Id Est Laborum?
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            h5 1. Sint Occaecat Cupidatat Non Proident, Sunt
            p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            h5 2.Perspiciatis Unde Omnis Iste Natus Error
            p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            h5 3. Natus Error Sit Voluptatem Accusant
            p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            h5 4. Occaecat Cupidatat Non Proident, Sunt In
            p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            h5 5. Deserunt Mollit Anim Id Est Laborum
            p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.