.bread
    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                i.fas.fa-home
                a(href='homepage.html') Home
            li.breadcrumb-item.active(aria-current='page') mail us



.row.sideform
    
    .col-lg-2.sidebar-list.col-md-2
        ul.list-unstyled
            li.fi 
                a(href="bestdeals.html") branded food
            li.fi 
                a(href="house.html") households
          
            li.dropdown.fi
                    | vegiies,fruits
                    button.dropdown-toggle.dropdown-toggle.btn.btn-secondary#dropdownMenuButton( data-bs-toggle="dropdown" aria-expanded="false" type="button")
                    ul.list-unstyled.dropdown-menu(aria-labelledby="dropdownMenuButton")
                        li.ui
                            a.ch.dropdown-item(href="veg.html") VEGETABLES
                        li.ui
                            a.ch.dropdown-item(href="veg.html") fruits
            li.fi
                a(href="kitchen.html") kitchen
            li.fi
                a(href="short.html") short codes
            li.dropdown.fi
                    | beverages
                    button.dropdown-toggle.dropdown-toggle.btn.btn-secondary#dropdownMenuButton( data-bs-toggle="dropdown" aria-expanded="false" type="button")
                    ul.list-unstyled.dropdown-menu(aria-labelledby="dropdownMenuButton")
                        li.ui
                            a.ch.dropdown-item(href="soft.html") soft drinks
                        li.ui
                            a.ch.dropdown-item(href="soft.html") juice
            li.fi
                a(href="pet.html")  pet food
                li.dropdown.fi
                    | frozen foods
                    button.dropdown-toggle.dropdown-toggle.btn.btn-secondary#dropdownMenuButton( data-bs-toggle="dropdown" aria-expanded="false" type="button")
                    ul.list-unstyled.dropdown-menu(aria-labelledby="dropdownMenuButton")
                        li.ui
                            a.ch.dropdown-item(href="frozen.html") frozen snakes
                        li.ui
                            a.ch.dropdown-item(href="frozen.html") frozen nonveg
            li.fi 
                a(href="bread.html") bread&bakery
    .col-lg-10.col-md-10.services
        h1.text-center services
        .container
            .serviceflex
                .serv1
                    h4 CUM SOLUTA NOBIS EST
                    p Itaque earum rerum hic tenetur a sapiente delectus, ut <br> aut reiciendis voluptatibus maiores alias consequatur aut<br> perferendis doloribus asperiores repellat.
                .serv2 
                    img.img-fluid(src="imgs/18.jpg" width="110px" height="100px")
                    img.img-fluid(src="imgs/19.jpg" width="110px" height="100px")
                    img.img-fluid(src="imgs/20.jpg" width="110px" height="100px")
            .servmarket.serviceflex
        
                img.mg(src="imgs/4.jpg")  
                .serv3
                    ul.list-unstyled
                        li
                            i.fas.fa-arrow-right
                            | Et Voluptates Repudiandae Sint Et Molestiae
                        li 
                            i.fas.fa-arrow-right  
                            |Rerum Necessitatibus Saepe Eveniet Ut
                        li
                            i.fas.fa-arrow-right 
                            | Placeat Facere Possimus, Omnis Voluptas
                        li 
                            i.fas.fa-arrow-right 
                            |Et Harum Quidem Rerum Facilis Est Et Expedita
                        li
                            i.fas.fa-arrow-right
                            | Similique Sunt In Culpa Qui Officia Deserunt
                        li  
                            i.fas.fa-arrow-right
                            | Odio Dignissimos Ducimus Qui Blanditiis
                        li 
                            button shop now    
.servuper
        .uprgin  
            .container
                .row
                    .col-lg-3.col-sm-3.col-3
                        .item
                            i.fas.fa-user
                            h1 89,147
                            p.text-center  Followers
                    .col-lg-3.col-sm-3.col-3
                        .item
                            i.fas.fa-piggy-bank
                            h1 54,598
                            p.text-center  Savings
                    .col-lg-3.col-sm-3.col-3
                        .item
                            i.fas.fa-file-export
                            h1 83,983
                            p.text-center Support
                    .col-lg-3.col-sm-3.col-3
                        .item
                            i.fas.fa-bullhorn
                            h1 45,894
                            p.text-center Popularit
.lastdiv
    .container
        .row
            .col-lg-4.col-sm-4
                .last1
                    i.fa.fa-shopping-cart.fa-2x
                    h5 Nam Libero Tempore
                    p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et.
            .col-lg-4.col-sm-4
                .last1
                    i.fa.fa-chart-bar.fa-2x
                    h5 Officiis Debitis Aut Rerum
                    p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et.
            .col-lg-4.col-sm-4
                .last1
                    i.fa.fa-truck.fa-2x
                    h5 Eveniet Ut Et Voluptates
                    p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et.
          
            
                     
