.row
    .col-lg-2.sidebar-list
        ul.list-unstyled
            li.fi 
                a(href="bestdeals.html") branded food
            li.fi 
                a(href="house.html") households
          
            li.dropdown.fi
                    | vegiies,fruits
                    button.dropdown-toggle.dropdown-toggle.btn.btn-secondary#dropdownMenuButton( data-bs-toggle="dropdown" aria-expanded="false" type="button")
                    ul.list-unstyled.dropdown-menu(aria-labelledby="dropdownMenuButton")
                        li.ui
                            a.ch.dropdown-item(href="veg.html") VEGETABLES
                        li.ui
                            a.ch.dropdown-item(href="veg.html") fruits
            li.fi
                a(href="kitchen.html") kitchen
            li.fi short codes
            li.fi beverages
            li.fi pet food
            li.fi frozen foods
            li.fi bread&bakery
    #carouselExampleIndicators.carousel.slide(data-bs-ride="carousel").col-lg-10.caro
        ol.carousel-indicators
            li.active(data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0")
            li(data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1")
            li(data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2")
        .carousel-inner
            .carousel-item.active
                img.d-block.w-100(src="imgs/one.jpg" alt="...")
                span.sp make<br> your food<br> with spicy
                button.b shop now   
            .carousel-item
                img.d-block.w-100(src="imgs/two.jpg" alt="...")
                span.sp make<br> your food<br> with spicy
                button.b shop now
            .carousel-item
                img.d-block.w-100(src="imgs/three.jpg" alt="..." width="933.5 px" height="291.72 px" )
                span.sp  up to<br>  &nbsp; 50%  <br> &nbsp;&nbsp;&nbsp;&nbsp;off
                button.b3 shop now
        a.carousel-control-prev(href="#carouselExampleIndicators" role="button" data-bs-slide="prev")
            span.carousel-control-prev-icon(aria-hidden="true")
            span.visually-hidden Previous
        a.carousel-control-next(href="#carouselExampleIndicators" role="button" data-bs-slide="next")
            span.carousel-control-next-icon(aria-hidden="true")
            span.visually-hidden Next
    