.bread
    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                i.fas.fa-home
                a(href='homepage.html') Home
            li.breadcrumb-item.active(aria-current='page') mail us



.row.sideform
    
    .col-lg-2.sidebar-list.col-md-2
        ul.list-unstyled
            li branded food
            li households
            li vegiies,fruits
            li kitchen
            li short codes
            li beverages
            li pet food
            li frozen foods
            li bread&bakery
    .col-lg-10.bestall.col-md-10
        .bestimg
            img.img-fluid(src="imgs/25.jpg")
            .divbest
                h3 Best Deals For New Products
         
        .fatheroff
            h2.text-center Household Products
            h3 CLEANING
            .hot-offers.divd.row
                
                .col-lg-3.col-md-6.col-sm-6.col-12
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/49.png")
                        p.can1 
                            spanFresh Dishwash Gel, Lemon (1.5 Ltr)<br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12

                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/14.png")
                        p.can1 
                            span Dish Wash Bar (500 Gm) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12 
                    .offer.ss
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/15.png")
                        p.can1 
                            spanFresh Air Freshener (50 Gm) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12 
                    .offer.ss
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/16.png")
                        p.can1 
                            span Toilet Cleaner Expert (1 Ltr) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
        .fatheroff
            
            h3  UTENSILS
            .hot-offers.divd.row
                
                .col-lg-3.col-md-6.col-sm-6.col-12 
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/13.png")
                        p.can1 
                            span Princeware Packaging Container Pack (6 No's) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12 
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/50.png")
                        p.can1 
                            span Signoraware Container Center Press (900 Ml) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12 
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/51.png")
                        p.can1 
                            span Ship Stainless Steel Sauce Pan Single (1 Pc) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12 
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/52.png")
                        p.can1 
                            span Omega Stainless Steel Puri Dabba (1 Pc) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart 
        .fatheroff
            
            h3 PET FOOD
            .hot-offers.divd.row
                
                .col-lg-3.col-md-6.col-sm-6.col-12 
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/53.png")
                        p.can1 
                            span Food For Adult Dogs (80 Gms) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12

                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/54.png")
                        p.can1 
                            span Young Adult Dogs (1.2 Kg) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/55.png")
                        p.can1 
                            span Cat Food Ocean Fish (1.4 Kg)<br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        button.can2 Add To Cart
                .col-lg-3.col-md-6.col-sm-6.col-12 
                    .offer
                        img.tag(src="imgs/tag.png")
                        img.origin.text-center(src="imgs/56.png")
                        p.can1 
                            span Chicken In Jelly Can (400 Gm) <br>
                            span.cansp $7.99 &nbsp;&nbsp;
                                span $10.00
                        input.can2(type="submit" value="add to cart")