.sub
    .container
        .row
            .col-lg-2
            .col-lg-3.col-md-4.col-12
                p.firp Sign Up For Our Newsletter

            .col-lg-7.col-md-8.col-12
                form
                    input(type="email" placeholder="email")
                    input(type="submit" value="subscribe now")
.footer
             
