.divbut{
    
  //  position: relative;
    .ii{
        color: #f00;
        cursor: pointer;
        //scroll-behavior: smooth;
        position: fixed;
    top: 550px;
    right: 15px;
    z-index: 99999;
   display: none;
}
.dis1{
    display:block;
}
}