.row{.carousel-control-next-icon
{
    display: none;
}
.caro{
    margin-left: -3px;
}
.carousel-control-prev
{
    display: none;
}
.carousel-indicators li{
    border-radius: 50%;
    width: 8px;
    height: 8px;
    top: 10px;
    position: absolute;
    border:2px solid #84c639;
    opacity: 1;
    
}
.carousel-indicators .active{
    background-color:#84c639 ;
    
}
.carousel-indicators li:nth-of-type(2)
{
   margin-left: 35px;
}
.carousel-indicators li:nth-of-type(3)
{
   margin-left:70px;
}

.sidebar-list{
    .fi:first-of-type{
        position: relative;
        &:before
        {
           
            content: '';
            position: absolute;
            width: 100%;
            color: #b58f62;
            border: .5px solid #b58f62;
            top: 0px;
            left: -1px;
            
        }}
       li.fi
        {
            border-bottom: 1px dotted #CDCDCD;
          // position: relative;

           /* &:before
            {

            content: '';
            top:1px;
            left: -3px;

            position: absolute;
           width: 100%;
           color: #b58f62;
           border: .5px dotted #c9ced3;
        }*/
        }
        ul: {
            margin-left: 10px;
            
        }
        li {
            
a{
    color: #000;

   
}

padding:10px;
padding-left: 40px;
background-color: #f5f5f5;
text-align: left;
justify-content: center;
&:hover{
    background-color: #84c639;
    cursor: pointer;
        

}

        }

       
   

        
    }
    @media(min-width:992px)
    {
     .col-lg-2
     {

margin-right:-22px;
     }
    }

.caro{
    position: relative;
    .sp{
        position: absolute;
         top:30px;
        right: 40px;
        font-size: 40px;
        color: #fff;
       
        
    }
    .b{
position: absolute;
top:250px;
right: 40px;
font-size: 17px;
font-weight: bold;
border: none;
background-color: #84c639;
padding: 10px;
padding-left: 50px;
padding-right: 50px;
color: #fff;
    }
    .b3{
        position: absolute;
        top:250px;
        right: 30px;
        font-size: 17px;
        font-weight: bold;
        border: none;
        background-color: #84c639;
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
        color: #fff; 
    }

}

margin-bottom: 40px;}
.btn-secondary {
  
    background-color: transparent;
  
    color: #000;
    border: none;
}
.btn-secondary:hover {
    color: #000;
    background-color:transparent;
    border: none;
    box-shadow: none;
   }
   .btn-check:focus+.btn-secondary, .btn-secondary:focus {
    color: #000;
    background-color: transparent;
    border: none;
    box-shadow:  none;
}
.btn-check:active+.btn-secondary, .btn-check:checked+.btn-secondary, .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
    color: #000;
    background-color: transparent;
   border: none;
   box-shadow: none;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #1e2125;
    background-color:#84c639   ;
}
.row .sidebar-list li .ch {
    padding: 0px;
    background-color: #fff;
    &:hover{
        color: #f00;
    }

}
.row .sidebar-list li ul li{
    padding: 0px;
    padding-left: 10px;
    margin-bottom: 5px;
    font-size: 12px;
   
}

.dropdown-menu{
   margin-left: -30px !important;
    
}
.btn{
    position: relative;
    left: -10px;
}
.row .sidebar-list li .ui:hover{
    background-color: white;
}