<!DOCTYPE html>
html
    head
    
        include pug/layout/styles
    
    body
        .homepage
        include pug/layout/header
        include pug/layout/contactside
        include pug/layout/subscripe
        include pug/layout/footer
        include pug/layout/scripts