<!DOCTYPE html>
html
  head
    
    include pug/layout/styles
    
  body
    .homepage
    include pug/layout/header
    include pug/layout/sidebar
    include pug/layout/scripts
    include pug/component/offers
    include pug/layout/subscripe
    include pug/layout/footer
