.container.discount
    .row.row1
        .col-lg-3.d-none.d-lg-block.d-xl-none
        .col-lg-3.product.col-md-4.product1.col-12
            img.img-fluid(src="imgs/four.jpg")
            span.sp1 discount offer
            span.sp2 25%
       
        .col-lg-3.product.col-md-4.product2.col-12
            img.img-fluid(src="imgs/five.jpg")
            span.sp3 introducing
            span.sp4 best store
            p.sp5 for  
                span groceries
        
        .col-lg-3.product.col-md-4.product3.col-12
            img.img-fluid(src="imgs/six.jpg")
            span.sp6 save 
            span.sp7 up to
            span.sp8 $10
.container.fatheroff
    h1.text-center Hot Offers
        .row.hot-offers
        
            .col-lg-3.col-md-6.col-sm-6.col-6
                .offer
                    img.tag(src="imgs/tag.png")
                    img.origin(src="imgs/1.png")
                    p.can1 
                        span.od Fortune Sunflower Oil <br>

                        span.cansp.se $7.99 &nbsp;&nbsp;
                            span $ 10.00
                    button.jsbut.can2 Add To Cart
                    .jsdiv2
                        
                        h4 Subtotal: $6.99 USD
                        button check out this 
                    
            .col-lg-3.col-md-6.col-sm-6.col-6
                .offer
                    img.tag(src="imgs/tag.png")
                    img.origin(src="imgs/2.png")
                    p.can1 
                        span.od  Basmati Rise (5 Kg)<br>

                        span.cansp.se $11.99  &nbsp;&nbsp;
                            span $15.00
                    button.jsbut1.can2 Add To Cart
                     
                    
                    
                    
                        
                        
                    
            .col-lg-3.col-md-6.col-sm-6.col-6
                .offer
                    img.off(src="imgs/offer.png")
                    img.origin(src="imgs/3.png")
                    p.can1 
                        span.od Pepsi Soft Drink (2 Ltr)<br>

                        span.cansp.se $8.00 &nbsp;&nbsp;
                            span $10.00
                    button.jsbut2.can2 Add To Cart
                    
                    
                        
                        
                    
            .col-lg-3.col-md-6.col-sm-6.col-6
                .offer
                    img.off(src="imgs/offer.png")
                    img.origin(src="imgs/4.png")
                    p.can1 
                        span.od Dogs Food (4 Kg)<br>

                        span.cansp.se $9.00  &nbsp;&nbsp;
                            span $10.00
                    button.jsbut3.can2 Add To Cart
                    
                    
.container.top-products
        h1.text-center top products
        .row.topp
            .col-lg-3
                .top
                    ul.list-unstyled
                        li
                            i.fas.fa-check
                            a(href="bestdeals.html") ALL BRANDS

                        li 
                            i.fas.fa-check 
                            a(href="veg.html") VEGETABLES
                        li
                            i.fas.fa-check 
                            a(href="veg.html") FRUITS 
                        li 
                            i.fas.fa-check 
                            a(href="soft.html") JUICES
                        li 
                            i.fas.fa-check 
                            a(href="pet.html") PET FOOD
                        li 
                            i.fas.fa-check 
                            a(href="bread.html") BREAD & BAKERY
                        li 
                            i.fas.fa-check 
                            a(href="house.html") CLEANING
                        li 
                            i.fas.fa-check 
                            a(href="bestdeals.html") SPICES
                        li 
                            i.fas.fa-check 
                            a(href="bestdeals.html") DRY FRUITS
                        li 
                            i.fas.fa-check 
                            a(href="bestdeals.html") DAIRY PRODUCTS
            .col-lg-3
                .top.girl
                    img.img-fluid(src="imgs/8.jpg")
            .col-lg-3
                .top.first
                    .img1
                        img.img-fluid(src="imgs/7.jpg")
                        button.jsbut shop now
                    .img2
                        img.img-fluid(src="imgs/10.jpg")
                        .ofsp special<br> offers
                        
            .col-lg-3
                .top.second
                    
                    .img3
                        img.img-fluid(src="imgs/9.jpg")
                    .img4
                        img.img-fluid(src="imgs/11.jpg")
                        p.par Get 25% Off On First Order And Also Get Gift Voucher  
                            img.spec(src="imgs/special.png")
                              
           
                   


                    

