.container
    .row.row1
        .col-lg-3.d-none.d-lg-block.d-xl-none
        .col-lg-3.product.col-md-4.product1.col-12
            img.img-fluid(src="imgs/four.jpg")
            span.sp1 discount offer
            span.sp2 25%
       
        .col-lg-3.product.col-md-4.product2.col-12
            img.img-fluid(src="imgs/five.jpg")
            span.sp3 introducing
            span.sp4 best store
            p.sp5 for  
                span groceries
        
        .col-lg-3.product.col-md-4.product3.col-12
            img.img-fluid(src="imgs/six.jpg")
            span.sp6 save 
            span.sp7 up to
            span.sp8 $10
.container
    h1 hot Offers
        .row.hot-offers
        
            .col-lg-3.offer.col-md-6.col-sm-6.col-12
                img.origin(src="imgs/1.png")
                p.can1 
                    span Fortune Sunflower Oil 

                    span.cansp $7.99 &nbsp;&nbsp;
                        span $10.00
                button.can2 Add To Cart
                img.tag(src="imgs/tag.png")
            .col-lg-3.offer.col-md-6.col-sm-6.col-12
                img.origin(src="imgs/2.png")
                p.can1 
                    span Basmati Rise (5 Kg)<br>

                    span.cansp $11.99  &nbsp;&nbsp;
                        span $15.00
                button.can2 Add To Cart
                img.tag(src="imgs/tag.png")
            .col-lg-3.offer.col-md-6.col-sm-6.col-12
                img.origin(src="imgs/3.png")
                p.can1 
                    span Pepsi Soft Drink (2 Ltr)

                    span.cansp $8.00 &nbsp;&nbsp;
                        span $10.00
                button.can2 Add To Cart
                img.off(src="imgs/offer.png")
            .col-lg-3.offer.col-md-6.col-sm-6.col-12
                img.origin(src="imgs/4.png")
                p.can1 
                    span Dogs Food (4 Kg)<br>

                    span.cansp $9.00  &nbsp;&nbsp;
                        span $10.00
                button.can2 Add To Cart
                img.off(src="imgs/offer.png")

