.row
    .col-lg-3
    .col-lg-3.product.col-md-3.product1
        img.img-fluid(src="imgs/four.jpg")
        span.sp1 discount offer
        span.sp2 25%
       
    .col-lg-3.product.col-md-3.product2
        img.img-fluid(src="imgs/five.jpg")
        span.sp3 introducing
        span.sp4 best store
        p.sp5 for  
            span groceries
        
    .col-lg-3.product.col-md-3.product3
        img.img-fluid(src="imgs/six.jpg")
        span.sp6 save 
        span.sp7 up to
        span.sp8 $10
