/* .row
 {
    @media (min-width:992px) {
        .col-lg-3.product:first-of-type
        {
            margin-left: 270px;
        }

    }
 }*/
 .discount{
  .row1{
    @media (min-width: 768px)
    {
        .sp1, .sp2,.sp3,.sp4,.sp5,.sp6,.sp7,.sp8{
            font-size: 20px !important;
        }
    }
    @media(max-width:767px){
        .sp1, .sp2,.sp4 {
        font-size: 15 !important;
        right: 120px !important;
        }
        .sp3,.sp5,.sp6,.sp7,.sp8{
            font-size: 25px !important;
        }
    }
  }
    .product1{
        position: relative;
        margin-bottom: 20px;
      //  margin-right: 20px;

    .sp1
    {
        position: absolute;
        top:20px;
        right: 20px;
        font-weight: 400;
        font-size: 30px;
        
    }
    .sp2
    {
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #f00;
        color: #fff;
        top:60px;
        font-size: 27px;
        text-align: center;
        right: 20px;
        padding-top: 20px;
        z-index: 9999;
    }
}
.product2{
    position: relative;
    margin-bottom: 20px;
  
    .sp3
    {
        position: absolute;
        top:10px;
        left: 30px;
        font-size: 25px;
        font-weight: 400;
    }
    .sp4
    {
        position: absolute;
        top:40px;
        right: 40px;
        font-size: 25px;
        font-weight: 600;
        color: #84c639;
    }
    .sp5
    { position: absolute;
        top:60px;
        left: 30px;
        font-size: 25px;
        font-weight: 600;

        span{
            color: #f00;

        }
    }
}
.product3
{position: relative;
    margin-bottom: 20px;
    ;
    .sp6
    {
        position: absolute;
        top:40px;
        left: 40px;
        font-size: 40px;
    }
    .sp7{
        position: absolute;
        top:80px;
        left: 40px;
        font-size: 40px;
        color: #f00;
    }
    .sp8{
        position: absolute;
        top:130px;
        left: 40px;
        font-size: 30px;
        font-weight: 500;

    }

}
margin-top: 80px;}
.fatheroff{
    h1{
         position: relative;
         font-weight: 450;
         &:before{
             position: absolute;
             content: '';
             width: 80px;
             top:60px;
        margin: 0px 50px;
             
              
             border: 1px solid #f00;
         }

     }
.hot-offers{
   
.offer{
    border: 4px double #bebebe;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 40px;
    position: relative;
}
.cansp
{
    font-weight: 500;
    span{ font-weight: 400;}
}
.origin{
    padding-bottom: 70px;
}
.can2{
    background-color: #f00;
    border: none;
    color: #fff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.tag{
    position: absolute;
    top:-10px;
    left: 1px;

}
.off{
    position: absolute;
    top:-3px;
    left: -3px;

}
  

margin-top: 90px;}}
.top-products
{
    @media(max-width: 991px)
    {
        .topp{
            background-color: #fff !important;
        }
        ul{
            margin-bottom: 20px;
            border: 10px solid #f5f5f5;
             
            width: 60%;
            margin: 0 auto;
        }
        .girl{
            padding: 15px;
            border: 10px solid #f5f5f5;
            margin: 0 auto;
            width: 60%;
        }
        .first{
            padding: 10px;
            border: 10px solid #f5f5f5;
            width: 60%;
            margin: 0 auto;
            .img1{
                button{
                    top:30px !important;
                    right: 30px !important;

                }


        }

    }
        .img2{
            .ofsp{
                left: 40px !important;
                bottom: 20px !important;

            }
        }
        .second{
            width: 60%;
            border: 10px solid #f5f5f5;
            margin: 0 auto;
            padding: 10px;
            .img3,.img4{
               
               margin: 0 30px !important;
               margin-bottom: 10px !important;
            }
        }
        .par{
            font-size: 17px !important;
          left:-150px !important;
          margin-left: 50px !important;
          bottom: -100px !important;
          
        white-space:  nowrap !important;
        }
       

    }
    margin-top: 60px;

   
   
    h1{
        margin-bottom: 40px;
        margin-top: 40px;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            border: 1px solid #f00;
            width: 100px;
            margin: 0 50px;
            top:70px
        }

    }
    .topp{
        background-color:#f5f5f5 ;
        margin-top: 100px;

    }
    ul{
        background-color: #fff;
        li{
            margin: 10px;
            i{
                color: #84C639;
                margin: 12px;
                font-size: 13px;
                font-weight: 600;
            } 
        }
        li:first-of-type{
            padding-top: 20px;
        }
        li:last-of-type{
            padding-bottom: 20px;
        }

        
    }
    .top{
        margin-top: 20px;
        margin-bottom: 20px;
        .img1,.img3
        {
            margin-bottom: 15px;
            position: relative;
        }
        .img1{
            button{
                position: absolute;
                top:15px;
                right: 10px;
                background-color: #84C639;
                border: none;
                padding-left: 20px;
                padding-right: 20px;
                color: #fff;
                font-weight: 600;
                font-size: 18px;
                
            }
           
        }
        .img2{
         
            position: relative;
            text-align: center;
            
            .ofsp{
                padding-top: 10px;
                font-size: 22px;
                font-weight: bold;
                position: absolute;
                background-color: #f00;
                color: #fff;
                width:90px;
                height: 90px;
                bottom: 5px;
                left: 5px;
                border-radius: 50%;
            }

        }
        .img4{
            position: relative;
            .par{
                position: absolute;
                left: -300px;
                bottom: -120px;
                font-size: 20px;
                 
             }
            .spec{
                 position: absolute;
                 bottom: -20px;
                 right: -60px;
             }
        }
        
        

    }
}